<div class="text-center">
    <h1>Admission Procedure</h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-4" style="padding-left: 80px;">
            <img src="assets/admission.jpg" width="350px" height="300px">
        </div>
        <div class="col-8">
            <p>Admissions to the B.Tech/Diploma/MBA program shall be made subject to the eligibility, qualifications,
                and<br> specialization prescribed by the university from time to time. Admissions at the top engineering
                colleges in<br> Telangana is made on the basis of merit rank obtained by the qualifying candidate at an
                Entrance Test<br> conducted by the University, subjected to reservations prescribed by the university
                from time to time.
            </p>
            <p class="text-secondary">EAMCET: “Engineering Agriculture and Medicine Common Entrance Test”</p>
            <p>EAMCET Entrance Examination is the gateway for entry into various professional courses offered in<br>
                Government/Private Telangana engineering colleges. The EAMCET test is taken by a large number of<br>
                engineering and medical aspirants in the state. Presently, JNTU located in Hyderabad conducts the<br>
                examination on behalf of TSCHE. Qualifying EAMCET Exam is compulsory to get admission into B.Tech<br>
                courses through counselling quota. In every branch, 70% of seats are filled through web counselling.
                The<br> remaining 30% of seats in every branch are filled by management (B category or Management
                Quota). For<br> details on web counselling and giving options in web kindly click the given below web
                link.
                https://tseamcet.nic.in</p>
            <p class="text-secondary">CEEP: “Common Entrance Examination for Admission into Polytechnic”</p>
            <p>
                The State Board of Technical Education and Training, Telangana State, Hyderabad will conduct “Common<br>
                Entrance Examination for Admission into Polytechnic” or the candidates seeking admission to all
                Diploma<br> Courses in Engineering /Non-Engineering/ Technology offered at Polytechnics/ Institutions
                (including Aided and<br> Unaided Private Polytechnics/ Institutions) in Telangana State. Detailed
                Information regarding eligibility, age,<br> syllabus, etc., are given in the “CEEP-2019 Booklet” which
                is supplied along with ICR FORM and is available for<br> sale at a cost of Rs.10/- (Rupees Ten only)
                from the Principals of Govt. Polytechnic, Private Polytechnics and TS<br> online centres. Details can be
                seen on website.<br>
                https://tspolycet.nic.in</p>
            <p class="text-secondary">I-CET : “Integrated Common Entrance Test”</p>
            <p>The Integrated Common Entrance Test is conducted for admission into 1st year MBA Degree Course in the<br>
                University and Affiliated best MBA colleges in Telangana . For details on MBA admission, kindly click
                the given<br> below web link.<br>
                https://icet.tsche.ac.in</p>
            <p class="text" style="padding-left: 200px;">For Admission Details Contact<br>
                Dr. M.Ganesh<br>
                Principal<br>
                Trinity College of Engineering and Technology


            </p>
        </div>
    </div>
</div>