<div class="container">
    <div class="row notice">
        <p>NOTICE BOARD</p>
    </div>
    <div class="card shadow-lg mt-5 mb-5">
        <div class="row pt-2 pb-2">
            <h3>Examination Notifications</h3>
        </div>
        <div class="row">

            <div class="col-3">
                <div class="d-grid ">
                    <a>Notice Board</a>
                    <hr>

                    <a>Examinations</a>
                    <hr>
                </div>
            </div>
            <div class="col-9" style="padding-right: 20px;">
                <table class="table table-responsive ">
                    <tbody>
                        <tr>
                            <th>S.No</th>
                            <th class="text-center">Name of the Notifications</th>
                            <th>Open</th>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>B.Tech I Year I Sem (R22) Regular/Supply,I-I(R18,R16)Supply,I Year (R15,R13) Supply & I
                                Year II Sem(R22,R18,R16) Supply Examinations.</td>
                            <td><a><button class="btn btn-info">View</button></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>B.Tech II Year I Sem Regular/Supply & II Year II Sem Supply Examinations FEB-2024</td>
                            <td><a><button class="btn btn-info">View</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>