<div class="container">
    <div class="row header">
    <h1 class="text-center ">Contact Us</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="box pt-5">
                <h1>Address</h1>
                <p>
                    Trinity College of Engineering and Technology,<br>
                    Bandarikunta,Peddapalli - Telangana - 505172,</p>

                <p><i class="bi bi-envelope"></i> officetcek&#64;gmail.com</p>
                <p><i class="bi bi-globe-asia-australia"></i> www.tcek.ac.in</p>
                <hr>
                <h5>Director Academics</h5>
                <p><i class="bi bi-telephone"></i> +91 73969 03383</p>
                <hr>
                <h5>Administrative Officer</h5>
                <p><i class="bi bi-telephone"></i>+91 85729 54369</p>
                <p><i class="bi bi-envelope"></i>ao.tcek&#64;gmail.com</p>
            </div>
        </div>
        <div class="col pt-5">
            <h1>Location</h1>

        </div>
        <div class="col pt-5">
            <h1>GET IN TOUCH</h1>
            <div class="card shadow-lg">
                <form>
                    <input type="text" placeholder="Name*">
                    <input type="email" placeholder="Email">
                    <input type="number" placeholder="Phone">
                    <input type="text" placeholder="Website">
                    <textarea placeholder="Meaasge"></textarea>
                </form>
                <button class="btn btn-info">Send Message</button>
            </div>


        </div>
    </div>
</div>