input{
 margin-left: 20px;
    height: 50px;
  margin-top: 20px;
  border-radius: 2px;
}
textarea{
    height: 100px;
    width: 450px;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
button{
    width: 200px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 20px;

}
.header{
    height: 50px;
    background-color: rgb(192, 192, 134);
}