<div class="container">
    <div class="row header">
        <h1>TIME TABLE</h1>
    </div>
    <div class="card mt-5 mb-5 shadow-lg">
        <div class="row">
            <div class="col-3 pt-5">
                <div class="d-grid">
                    <a>Notifications
                        <hr>
                    </a>

                    <a>Time Table
                        <hr>
                    </a>

                </div>
            </div>
            <div class="col-9">
                <h3>The Examinations Time Table as per the directions of JNTU, Hyderabad.</h3>
                <p class="pt-2" style="font-size: 20px;">B.TECH I YEAR END EXAMINATION SCHEDULES</p>
                <div>
                    <table class="table table-responsive">
                        <tr>
                            <th>I YEAR B.TECH II SEMESTER – R18 REGULATIONS SUPPLEMENTARY EXAMINATIONS JUNE-2022</th>
                            <th><a><button class="btn btn-info">View</button></a></th>
                        </tr>
                        <tr>
                            <th>B.TECH I YEAR I SEMESTER (CSE-ECE) – R18 REGULATIONS REGULAR-SUPPLY EXAMINATIONS
                                JUNE-2022
                            </th>
                            <th><a><button class="btn btn-info">View</button></a></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>