<div>
  <div class="g-0 header1">
    <div>
      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
          Examinations
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="noticeboard">Notice Board</a>
          <a class="dropdown-item" routerLink="timetable">Time Table</a>

        </div>
        <a routerLink="admissions">Admissions</a>
        <a routerLink="gallary">Gallary</a>
        <a routerLink="contact">Contact</a>
      </div>
    </div>

  </div>
  <div class="row g-0">
    <div class="col-4">
      <img src="assets/trinitylogo.jpg" width="350px">
    </div>
    <div class="col-8 homelink ">
      <a routerLink="home">Home</a>
      <div class="dropdown">
        <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="founder">Founder</a>
          <a class="dropdown-item" href="chairman">Chariman</a>
          <a class="dropdown-item" href="principal">Principal</a>
          <a class="dropdown-item" href="directoracademics">Director Academics</a>
          <a class="dropdown-item" href="administrativeofficer">Administrative officer</a>
          <a class="dropdown-item" href="visionandmission">Vision And Mission</a>
        </div>
      </div>
      <div class="dropdown">
        <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Academics
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="courseoffered">Course offered</a>
          <a class="dropdown-item" href="academiccalenders">Academic calenders</a>
          <a class="dropdown-item" href="academicregulations">Academic Regulations</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Departments
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="EEE">EEE</a>
          <a class="dropdown-item" href="ECE">ECE</a>
          <a class="dropdown-item" href="CSE">CSE</a>
          <a class="dropdown-item" href="AIML">AI&ML</a>
          <a class="dropdown-item" href="HS">H&S</a>
          <a class="dropdown-item" href="MBA">MBA</a>
          <a class="dropdown-item" href="DEEE">Diploma in EEE</a>
          <a class="dropdown-item" href="DECE">Diploma in ECE</a>
          <a class="dropdown-item" href="DCSE">Diploma in CSE</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Placements section
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="placementsection">Placement section</a>
          <a class="dropdown-item" href="contacttpo">Contact TPO</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          NAAC
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">SELF STUDY REPORT-SSR</a>
          <a class="dropdown-item" href="criteria1">CRITERIA-1</a>
          <a class="dropdown-item" href="criteria2">CRITERIA-2</a>
          <a class="dropdown-item" href="criteria3">CRITERIA-3</a>
          <a class="dropdown-item" href="criteria4">CRITERIA-4</a>
          <a class="dropdown-item" href="criteria5">CRITERIA-5</a>
          <a class="dropdown-item" href="criteria6">CRITERIA-6</a>
          <a class="dropdown-item" href="criteria7">CRITERIA-7</a>
          <a class="dropdown-item" href="iiqa">IIQA</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          DVV
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Extended Profile-DVV</a>
          <a class="dropdown-item" href="dcriteria1">CRITERIA-1</a>
          <a class="dropdown-item" href="dcriteria2">CRITERIA-2</a>
          <a class="dropdown-item" href="dcriteria3">CRITERIA-3</a>
          <a class="dropdown-item" href="dcriteria4">CRITERIA-4</a>
          <a class="dropdown-item" href="dcriteria5">CRITERIA-5</a>
          <a class="dropdown-item" href="dcriteria6">CRITERIA-6</a>
          <a class="dropdown-item" href="dcriteria7">CRITERIA-7</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0 collegecode">
    <div class="col-1"></div>
    <div class="col">
      <p class="p"> COLLEGE CODE:TCEK EAMCET/ICET/ECET/POLYCET</p>
    </div>
    <div class="col-2"></div>
    <div class="col">
      <P class="p">For Admissions Contact:0967447808 9746585657</P>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<div class="row g-0 bg-dark text-white ">
  <div class="col-1"></div>
  <div class="col-3">
    <h2>ABOUT US</h2>
    <img src="assets/college.jpg">
    <p>Trinity College of Engineering and Technology (T.C.E.T.) is a premier initiative of this society. The institute
      aims to impart knowledge by attracting and involving well experienced, qualified facdivty and providing best
      infrastructural facilities to the students.</p>
  </div>
  <div class="col-3">
    <h2>CONTACT US</h2>
    <p style="font-size: 20px;">Address:</p>
    <p>Trinity College of Engineering and Technology</p>

    <p> Bandarikunta</p>

    <p> Peddapalli</p>

    <p> Telangana-505172</p>
    <p style="font-size: 20px;">EMAIL ID:</p>
    <p>officetcek&#64;gmail.com</p>
    <p style="font-size: 20px;">PHONE NUMBER:</p>
    <p>8522954369</p>

    <p> 7396903383</p>
  </div>
  <div class="col-3">
    <h2>LOCATION</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <p>&#64;2019 TRINITY.All Rights Reserved.</p>
  </div>
  <div class="col-6">
    <p>UNDER GRADUATE POST GRADUATE DIPLOMA LIBRARY</p>
  </div>
</div>