<div class="container">
    <div class="row pt-5">
        <div class="col">
            <img src="assets/gallary1.jpg" width="600px" height="500px">
        </div>
        <div class="col">
            <img src="assets/gallary2.jpg" width="600px" height="500px">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <img src="assets/gallary3.jpg" width="600px" height="500px">
        </div>
        <div class="col">
            <img src="assets/gallary4.jpg" width="600px" height="500px">
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col">
            <img src="assets/gallary5.jpg" width="600px" height="500px">
        </div>
        <div class="col">
            <img src="assets/gallary6.jpg" width="600px" height="500px">
        </div>
    </div>
</div>